/*Global*/
body{
	width: 100%;
	background: url(../img/CuernosTorresDelPaine.png) 50% 0 no-repeat #BED1F4;
	font-family: 'Raleway',helvetica,arial,sans-serif;
	color: #343333;
	margin-left: auto;
	margin-right: auto;
}

::selection { 
	background: #0096db; 
	color: #E7E5E2; /* Safari 3.1+, Opera 9.5+, Chrome 2+ */
} 

::-moz-selection{ 
	background: #0096db; 
	color: #E7E5E2; /* Mozilla Firefox */
} 


/*Header Elements*/
#header{
	background: url(../img/slantedLinesWhiteTransparent.png) 0 0 repeat;
	height: 100px;
	position: fixed;
	width: 100%;
}

#logo-container{
	display:inline-block;
	float:left;
	margin-top:35px;
}

#menu-container{
	display: inline-block;
	float: right;
}

.nav-container{
	display: inline-block;
	height: 70px;
	width: 80px;
	border-radius: 5px;
	margin-top:15px;
	cursor: pointer;
	margin-left: 10px;
	transition: background-color 400ms ease, color 100ms ease;
	-moz-transition: background-color 400ms ease, color 100ms ease;
	-webkit-transition: background-color 400ms ease, color 100ms ease;
	-o-transition: background-color 400ms ease, color 100ms ease; 
}

.nav-container:hover{
	background: #0096db;
	color: #e7e5e2;
}

.nav-icon-container{
	display: block;
	height:40px;
	width:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
}

#nav-icon-home{
	background:url(../img/iconHome.png) 0 0 no-repeat;
}

#nav-icon-projects{
	background:url(../img/iconLightning.png) 13px 0 no-repeat;
}

#nav-icon-travel{
	background:url(../img/iconAirplane.png) 4px 0 no-repeat;
}

#nav-icon-contact{
	background:url(../img/iconPhone.png) 3px 0 no-repeat;
	overflow: visible;
}

.nav-text{
	font-size: 14px;
	text-align: center;
	display: block;
	margin-top: 2px;
}

.nav-selected{
	background: #0096db;
	color: #e7e5e2
}

#nav-1{
	margin-left: 0px;
}

.deactivated{
	opacity: .5;
	cursor: default;
}

.deactivated:hover{
	background-color: rgba(255,0,0,0);
	color: #343333;
}

/*Main Content Area*/
#main-content-container{
	margin-top: 145px;
	background: url(../img/CajonDelMaipoAlecProfile.png) 507px 0 no-repeat;
}

#main-content-text-title{
	font-size: 76px;
	font-weight: 900;
	line-height: 100px;
}

#main-content-text-paragraph{
	font-size:34px;
	font-weight:300;
	line-height: 40px;
}

/*Contact Box*/
#contact-box-wrapper{
	display: none;
	cursor: default;
}

#triangle{
	margin-top: 10px;
	right: -20px;
	position: relative;
	top: 2px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #343333 transparent;
}

#contact-information-container{
	background: url("../img/contact-background.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 180px;
  padding: 20px;
  position: relative;
  right: 316px;
  top: 8px;
  width: 370px;
}

#contact-text{
	color: #E7E5E2;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 22px;
  padding-top: 31px;
  position: absolute;
}

#social-contact-container{
	position: absolute;
	margin-left: 37px;
}

.social-icon{
	display: inline-block;
	float: left;
	height: 54px;
	width: 54px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom:10px;
}

#social-icon-mail{
	background: url(../img/social-icon-mail.png) 0 0 no-repeat;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-mail:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-linkedin{
	background: url(../img/social-icon-linkedin.png) 0 0 no-repeat;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-linkedin:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-500px{
	background: url(../img/social-icon-500px.png) 0 0 no-repeat;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-500px:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-twitter{
	background: url(../img/social-icon-twitter.png) 0 0 no-repeat;
	margin-right: 0px;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-twitter:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-text-container{
	margin-left: 37px;
	margin-top: 50px;
}

.social-icon-text{
	display: inline-block;
	float: left;
	height: 16px;
	width: 54px;
	margin-right: 20px;
	font-size: 12px;
	text-align: center;
}

#social-icon-text-last{
	margin-right: 0px;
}