/*Global*/
#index{
	width: 100%;
	background-image: url(../img/CuernosTorresDelPaine.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #BED1F4;
	font-family: 'Raleway',helvetica,arial,sans-serif;
	color: #343333;
	margin-left: auto;
	margin-right: auto;
}

#projects{
	width: 100%;
	background-image: url(../img/projects-background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #A3A3A1;
	font-family: 'Raleway',helvetica,arial,sans-serif;
	color: #343333;
	margin-left: auto;
	margin-right: auto;
}

#travel{
	width: 100%;
	height: 100%;
	background: url(../img/slantedLinesWhite.png) 0 0 repeat;
	font-family: 'Raleway',helvetica,arial,sans-serif;
	color: #343333;
}

::selection { 
	background: #0096db; 
	color: #E7E5E2; /* Safari 3.1+, Opera 9.5+, Chrome 2+ */
} 

::-moz-selection{ 
	background: #0096db; 
	color: #E7E5E2; /* Mozilla Firefox */
} 

a:hover{
	text-decoration: none;
}

/*Header Elements*/
.header{
	background: url(../img/slantedLinesWhiteTransparent.png) 0 0 repeat;
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#index-header{
	-webkit-box-shadow: 0px 1px 13px -4px #343333;
	box-shadow: 0px 1px 13px -4px #343333;
}

#projects-header{
	-webkit-box-shadow: 0px 1px 13px -4px #343333;
	box-shadow: 0px 1px 13px -4px #343333;
}

#travel-header{
	background-color: rgba(240, 240, 240, .35);
	-webkit-box-shadow: 0px 1px 13px -4px #343333;
	box-shadow: 0px 1px 13px -4px #343333;
}

.text-scroll-background{
	transition: background-color 400ms ease, color 100ms ease;
	background-color: rgba(255, 255, 250, 0);
}

#logo-container{
	display: inline-block;
	float:left;
	margin-top: 35px;
}

#menu-container{
	display: inline-block;
	float: right;
}

.nav-container{
	display: inline-block;
	height: 70px;
	width: 80px;
	border-radius: 5px;
	margin-top:15px;
	cursor: pointer;
	margin-left: 10px;
	transition: background-color 400ms ease, color 100ms ease;
	-moz-transition: background-color 400ms ease, color 100ms ease;
	-webkit-transition: background-color 400ms ease, color 100ms ease;
	-o-transition: background-color 400ms ease, color 100ms ease; 
}

.nav-container:hover{
	background: #0096db;
	color: #e7e5e2;
	text-decoration: none;
}

.nav-icon-container{
	display: block;
	height:40px;
	width:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
}

#nav-icon-home{
	background:url(../img/iconHome.png) 0 0 no-repeat;
}

#nav-icon-projects{
	background:url(../img/iconLightning.png) 13px 0 no-repeat;
}

#nav-icon-travel{
	background:url(../img/iconAirplane.png) 4px 0 no-repeat;
}

#nav-icon-contact{
	background:url(../img/iconPhone.png) 3px 0 no-repeat;
	overflow: visible;
}

.nav-text{
	font-size: 14px;
	text-align: center;
	display: block;
	margin-top: 2px;
	text-decoration: none;
	color: #343333;
}

.nav-text:hover{
	text-decoration: none;
}

.nav-selected{
	background: #0096db;
	color: #e7e5e2
}

#nav-1{
	margin-left: 0px;
}

.deactivated{
	opacity: .5;
	cursor: default;
}

.deactivated:hover{
	background-color: rgba(255,0,0,0);
	color: #343333;
}

/*Main Content Area*/
#main-content-container{
	margin-top: 145px;
	background: url(../img/CajonDelMaipoAlecProfile.png) 507px 0 no-repeat;
}

#main-content-text-title{
	font-size: 76px;
	font-weight: 900;
	line-height: 100px;
}

#main-content-text-paragraph{
	font-size:34px;
	font-weight:300;
	line-height: 40px;
}

/*Contact Box*/
#contact-box-wrapper{
	display: none;
	cursor: default;
}

#triangle{
	margin-top: 10px;
	right: -20px;
	position: relative;
	top: 2px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #343333 transparent;
}

#contact-information-container{
	background: url("../img/contact-background.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 180px;
  padding: 20px;
  position: relative;
  right: 316px;
  top: 8px;
  width: 370px;
}

#contact-text{
	color: #E7E5E2;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 22px;
  padding-top: 31px;
  position: absolute;
}

#social-contact-container{
	position: absolute;
	margin-left: 37px;
}

.social-icon{
	display: inline-block;
	float: left;
	height: 54px;
	width: 54px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom:10px;
}

#social-icon-mail{
	background: url(../img/social-icon-mail.png) 0 0 no-repeat;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-mail:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-linkedin{
	background: url(../img/social-icon-linkedin.png) 0 0 no-repeat;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-linkedin:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-500px{
	background: url(../img/social-icon-500px.png) 0 0 no-repeat;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-500px:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-twitter{
	background: url(../img/social-icon-twitter.png) 0 0 no-repeat;
	margin-right: 0px;
	transition: margin-top 400ms ease;
	-moz-transition: margin-top 400ms ease;
	-webkit-transition: margin-top 400ms ease;
	-o-transition: margin-top 400ms ease;
}

#social-icon-twitter:hover{
	margin-top: -1px;
	padding-top: 20px;
}

#social-icon-text-container{
	margin-left: 37px;
	margin-top: 50px;
}

.social-icon-text{
	display: inline-block;
	float: left;
	height: 16px;
	width: 54px;
	margin-right: 20px;
	font-size: 12px;
	text-align: center;
}

#social-icon-text-last{
	margin-right: 0px;
}

/*Projects*/
#projects-title{
	font-weight: 900;
	font-size: 76px;
	line-height: 100px;
	color: #343333;
	margin-top: 120px;
}

#projects-sub-title{
	font-weight: 200;
	font-size: 22px;
	line-height: 26px;
}

#projects-box-container{
	margin-top: 20px;
}

.project-box-column-right{
	text-align: right;
}

.project-box{
	border: 1px solid #343333;
  border-radius: 5px;
  display: inline-block;
  height: 457px;
  margin-bottom: 20px;
  width: 457px;
}

.project-box-text-container{
	position: relative;
	border: 1px solid #343333;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	text-align: left;
	opacity: 0;
	background: rgba(255, 250,250, 0.0);
	transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-webkit-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease; 
}

.project-box-text-container:hover{
	opacity: 1.0;
	background: rgba(0, 0, 0, .8);
}

.project-box-title{
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	padding: 20px 20px 0px 20px;
	color: #E7E5E2;
}

.project-box-text{
	font-size: 18px;
	line-height: 24px;
	padding: 0px 20px 0px 20px;
	margin-top: 10px;
	color: #E7E5E2;
	font-weight: 200;
}

.project-box-header{
	font-weight: 600;
}

#manfre4sheriff{
	background: url(../img/manfre-for-sheriff.png) 0 0 no-repeat;
}

#bractlet-static{
	background: url(../img/bractlet-static-site.png) 0 0 no-repeat;
}

#arduino-control{
	background: url(../img/arduino.png) 0 0 no-repeat;
}

#trello-biz-canvas{
	background: url(../img/biz-model-canvas.png) 0 0 no-repeat;
}

/*Travel*/
#map_canvas{
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#travel-info-container{
	background: url(../img/darkTexture.png) 0 0 repeat;
	border-radius: 0px 10px 10px 0px;
	display: inline-block;
	padding: 20px;
	position: fixed;
	top: 140px;
	color: #e7e5e2;
	width: 301px;
	left: 0px;
	-webkit-box-shadow: 0px 1px 13px -4px #343333;
	box-shadow: 0px 1px 13px -4px #343333;
}

#travel-info-tab{
	background: url("../img/darkTexture.png") repeat scroll 0 0 transparent;
  border-radius: 0 10px 10px 0;
  height: 42px;
  left: 320px;
  position: absolute;
  top: 0px;
  width: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 13px -4px #343333;
	box-shadow: 0px 1px 13px -4px #343333;
}

#travel-info-tab-icon{
	width: 30px;
	height: 30px;
	display: block;
	z-index: 100;
	margin-top: 13px;
	margin-left: 27px;
}

#travel-info-quote{
	font-size: 28px;
	font-weight: 200;
	line-height: 34px;
	text-align: left;
}

#quote-author{
	text-align: left;
	font-size: 20px;
	font-style: italic;
}

#travel-info-title{
	font-size: 22px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: 10px;
}

#travel-info-text{
	list-style: none;
}

.travel-info-list{
	font-size: 20px;
	line-height: 26px;
}

.travel-numbers{
	font-size: 34px;
	font-weight: 900;
	line-height: 38px;
}
